<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Aplicacion Mongo</title>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark  bg-dark">

            <div class="container-fluid">
                <a href="/#" class="navbar-brand "><h3>Mongo</h3></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                <div class="collapse navbar-collapse  d-md-flex justify-content-end" id="Menu">
                    <div class="navbar-nav text-center  ">
                        <div class='navbar-nav'>                
                            <a href="/" class="nav-item nav-link text-primary">Inicio</a>
                            <a href="/Admin" class="nav-item nav-link text-primary">Admin</a>

                            <%if(session){%>
                                <a href="/CerrarSession" class="nav-item nav-link text-primary">Cerrar Sesion</a>
                            <%}%>

                        </div>
                    </div>
                </div>


            </div>

        </nav>

    </header>




